<%- include('./partials/head') %>

  <body>
    <a href="/potions">All Potions</a>
  <img src="../../assets/images/cauldron.png" class="cauldron" id="cauldron" alt="cauldron" width="400" height="400">
  <button type="submit" class="button" form="ingredient-list">Start brewing</button>

  <form method="post" action="/brew" id="ingredient-list">
    <% ingredients.forEach(ingredient => { %>
      <div class="ingredients-container" draggable="true" id="ingredient-<%= ingredient.id %>">
        <fieldset>
          <input name="ingredients" type="checkbox" value="<%= ingredient.id %>" id="checkbox-<%= ingredient.id %>">
          <label for="checkbox-<%= ingredient.id %>">
            <img src="<%= ingredient.asset %>" alt="<%= ingredient.name %>" width="80" height="80">
          </label>
        </fieldset>
      </div>
    <% }) %> 
  </form>

<p id="toast" class="toast">You need 2 or more ingredients to brew a potion.</p>

</html>
